.m-toast-error {
    .md-toast-content {
        background-color: #FF5722;
    }
}

.m-toast-warning {
    .md-toast-content {
        background-color: orange;
    }
}

.m-toolbar {
    background-color: #283593;
}

.white-color {
    color: white;
}

.m-panel {
    background-color: white;
    width: 100%;
}

md-input-container {
    margin: 5px;
}

th,
td {
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

.white-bg {
    background-color: white;
}

.m-timepicker {
    padding-left: 12px;
    md-input-container {
        width: 120px;
        margin: 15px;
    }
}

@media only screen and (min-width: 600px) {
    .m-panel {
        width: 80%;
    }
}