<md-content class="m-toolbar" md-whiteframe="3">
    <md-nav-bar md-selected-nav-item="vm.currentState" nav-bar-aria-label="navigation links">
        <md-nav-item ui-sref="home" md-nav-click="goto(home)" name="home">
            <span class="white-color">Home</span>
        </md-nav-item>
        <md-nav-item ui-sref="event" md-nav-click="goto(event)" name="event">
            <span class="white-color">Events</span>
        </md-nav-item>
        <md-nav-item ui-sref="report" md-nav-click="goto(report)" name="report">
            <span class="white-color">Reports</span>
        </md-nav-item>
    </md-nav-bar>
</md-content>